{% extends "layout.html" %}
{% block title %}d5b.doebi.at - Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Last 24h Chart
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="morris-area-chart"></div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Recent Activity
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {% for e in events %}
                    <a href="#" class="list-group-item">
                        <i class="fa fa-check fa-fw"></i> {{e.user.username}} did {{e.amount}}x {{e.product.name}}
                        <span class="pull-right text-muted small"><em><script>document.write(moment("{{e.timestamp}}", "MMMM D, YYYY, h:m a").fromNow());</script></em>
                        </span>
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
{% endblock %}
